@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form method="post" action="home/login">
        <input name="userName" placeholder="login" />
        <button type="submit">Enviar</button>
    </form>
    <form method="post" action="home/register">
        <input name="userName" placeholder="register" />
        <button type="submit">Enviar</button>
    </form>
</div>
